{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "globals": {
    "React": "readonly"
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-var-requires": "off",
    "prefer-const": "off",
    "import/no-anonymous-default-export": "off",
    "react/display-name": "off",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-key": "off"
  }
}
